.feed-card {
    --header-font-color: #57b5f9;
    --footer-font-color: #527daf;
    --text-font-color: #99c5f3;
    --settings-icon-color: #c19a24;
}

.feeds-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.feed-card {
    background: #2e3237;
    border-radius: 16px;
    padding: 10px 20px;
    width: 100%;
    /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1); */
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    display: flex;
    flex-direction: column;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    transition: 0.2s;
}

.feed-card:hover {
    /* transform: translateY(-8px); */
    scale: 1.02;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0);
}

.feed-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.feed-icon {
    font-size: 22px;
    margin-right: 12px;
    color: #4A90E2;
}

.feed-name {
    font-size: 18px;
    font-weight: 600;
    color: var(--header-font-color);
    text-transform: capitalize;
}

.feed-card-body {
    text-align: center;
    flex-grow: 1;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.feed-card-footer {
    font-size: 12px;
    color: var(--footer-font-color);
    border-top: 1px solid #dddce7;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 425px) {
    .feed-card-footer {
        flex-direction: row;
        justify-content: space-between;
    }
}


.feed-value {
    font-size: 48px;
    font-weight: 700;
    color: var(--text-font-color);
    line-height: 1.2;
}



.feed-board-info {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.board-icon {
    margin-right: 6px;
    font-size: 14px;
}

.feed-timestamp {
    font-style: italic;
}

.settings-icon {
    margin-left: auto;
    cursor: pointer;
    color: var(--settings-icon-color);
}

@media only screen and (max-width: 768px) {
    .feed-card-body .gauge {
        width: 190px;
        margin: 0 auto;
        height: 190px;
    }

    .feed-card-body .gauge-label {
        font-size: 3em;
        top: 35%;
    }

    .feed-card-body .indicator-container {
        top: 20%;
    }

    .feed-card-body .left-label {
        left: 5px;
    }

    .feed-card-body .right-label {
        right: 5px;
    }
}

.feed-card-body {
    display: flex;
    width: 100%;
    min-height: 100px;
    align-items: center;
    justify-content: center;
}

.hgraph-container {
    width: 100%;
}

/* For Input Slider */

.input-slider{
    --slider-height: 41px;
    --slider-knob-size: calc(var(--slider-height) - 10px);
}

.input-slider {
    appearance: none;
    width: 100%;
    height: var(--slider-height);
    background: #42484d;
    outline: none;
    border: 2px solid #04AA6D;
    box-shadow: inset 0px 0px 4px #000000;
    opacity: 0.7;
    border-radius: 25px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.input-slider:hover {
    opacity: 1;
}

.input-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--slider-knob-size);
    height: var(--slider-knob-size);
    border-radius: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.input-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}


/* For Toggle Switch */
.feed-toggler {
    --toggler-height: 50px;
    --toggler-width: calc(var(--toggler-height) * 2);
}

.feed-toggler {
    width: var(--toggler-width);
    height: var(--toggler-height);
    position: relative;
    appearance: none;
    background: #cb3729;
    outline: none;
    border-radius: 25px;
    box-shadow: inset 0 0 7px 3px rgb(0 0 0);
    border: 2px solid #75898d;
    transition: .3s;
    cursor: pointer;
}

.feed-toggler:checked {
    background: #6fb351;
}

.feed-toggler::before {
    content: '';
    position: absolute;
    width: var(--toggler-height);
    height: var(--toggler-height);
    border-radius: 50%;
    top: -2px;
    left: -2px;
    background: #307197;
    box-shadow: -2px 0px 7px 1px rgb(0 0 0);
    transition: .3s;
}

.feed-toggler:checked::before {
    transition: .3s;
    left: calc(var(--toggler-width) - var(--toggler-height));
}

.feed-slider {
    width: 100%;
    margin: 10px 0;
}

.feed-slider::-webkit-slider-thumb {
    appearance: none;
    width: var(--toggler-width);
    height: var(--toggler-height);
    background: #4A90E2;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: background .3s;
}

.feed-slider::-webkit-slider-thumb:hover {
    background: #357ABD;
}

.feed-slider::-moz-range-thumb {
    width: var(--toggler-width);
    height: var(--toggler-height);
    background: #4A90E2;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: background .3s;
}

.feed-slider::-moz-range-thumb:hover {
    background: #357ABD;
}


/* For Colour Picker */

.colourPicker {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    background: none;
    box-shadow: 0 0 5px 3px #000000;
    border: 2px solid #cdc9b2;
}