@media only screen and (max-width: 768px) {
    .gauge-card-body .gauge {
        width: 190px;
        margin: 0 auto;
        height: 190px;
    }

    .gauge-card-body .gauge-label {
        font-size: 3em;
        top: 35%;
    }

    .gauge-card-body .indicator-container {
        top: 20%;
    }

    .gauge-card-body .left-label {
        left: 5px;
    }

    .gauge-card-body .right-label {
        right: 5px;
    }
}

.gauge-card-body {
    display: flex;
    color: #2931a1;
}

.gauge-card-body .gauge {
    height: 175px;
    margin: 0 auto;
}

.gauge-card-body .gauge-label {
    font-size: 4em;
    top: 30%;
}